        * {
			margin:0;
			padding:0;
			
		}
		
		body {background-image:url(https://img-blog.csdnimg.cn/20200718095208264.jpg);
    	      background-repeat:no repeat;
    	      background-size:cover;
    			   }
				   
				   
		/*--  跳转链接  --*/
		a {
		    font-size: 20px;
		    color: #0099ff;
		    text-decoration: none;
		    transition: color 1s 0s;
		    position: relative;
			margin: 0 auto; text-align:center;
			cursor: url(链接选择.cur), pointer;
			
		}
        
		a::before {
		    content: '';
		    position: absolute;
		    background: #a2d9ff;
		    width: 100%;
		    height: 40%;
		    bottom: 0;
		    z-index: -1;
		    transform: scaleY(0.25);
		    transform-origin: center bottom;
		    transition: transform 500ms 0s, background 500ms 0s;
			cursor: url(链接选择.cur), pointer;
		}
		
		a:hover::before {
		    height: 100%;
		    transform: none;
			cursor: url(链接选择.cur), pointer;
			
		}
		div {
			height:60px;
			width:auto;
			
		}
		audio:hover {
			cursor: url(正常选择.cur), pointer;
		}
		#text {
			
			text-align:center;
			font-size:70px;
			font-style:italic;
			color:#00cba9;
			
		}
		
		#text:hover{
			
			cursor: url(文本选择.cur), pointer;
		}
		html {
			cursor: url(正常选择.cur), pointer;
		}
		
		